html {
    font-family: 'Arial';
    background-image: url('./assets/3783374.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    scroll-behavior: smooth;
}

body {
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    height: 30px;
    width: 100%;
}

aside {
    float: right;
    width: 30%;
    height: 300px;
    /* background: red; */
}

section {
    float: left;
    width: 65%;
    height: 200px;
    /* background: black; */
}

section p {
    /* font-size: 40px; */
    color: #fff;
    text-align: center;
    text-shadow: 10px 10px 5px black;
}

section h2 {
    /* font-size: 48px; */
    text-align: center;
    /* color: #ffc000; */
    text-shadow: 10px 10px 5px black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    text-align: center;
}

ul li {
    display: inline;
}

ul li a {
    /* text-decoration: none; */
    color: azure; /* AMARILLO MILITAR #c8aa32 | AMARILLO NARANJA #ffc000 */
    text-shadow: 5px 5px 20px black !important;
}

ul li a:hover {
    /* text-decoration: none; */
    color: #ffc000;
}

.banner {
    width: 100%;
    /* background: #23320a; */
    color: white;
    text-align: center;
}

.banner h1 {
    text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

footer {
    width: 100%;
    height: 25px;
    background: #23320a;
    color: white;
    clear: both;
    text-align: center;
    padding-top: 20px;
}

.terminos {
    height: 1500px;
}

aside ol {
    margin-top: 200px;
}

aside ol li a {
    color: white;

}
aside ol li a:hover {
    color: yellow;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 50%;
    
}
.container2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 50%;
}

.productos {
    height: 800px;
}

.ubicacion {
    height: 450px;
}

.mapa {
    margin-left: 50%;
}